{% macro projectCard(props) %} {% set fullPath = props.card.image %} {% set
parts = fullPath | split('/') %} {% set fileWithExt = parts | last %} {% set
nameParts = fileWithExt | split('.') %} {% set imageName = nameParts[0] %} {%
set imageDir = fullPath | replace('/' ~ fileWithExt, '') %}
<section class="group">
    <a href="{{props.url}}" aria-label="Read more about {{ props.card.title }}">
        <div
            class="h-full min-h-[500px] overflow-hidden rounded-xl !bg-stone-200 shadow-md"
        >
            {% if props.card.image %}
            <picture>
                <img
                    src="{{imageDir}}/{{imageName}}-l.webp"
                    class="h-full min-h-[500px] w-full rounded-xl object-cover transition-all duration-500 group-hover:scale-105"
                    alt="{{ props.card.imageAlt }}"
                    loading="lazy"
                    width="980"
                    height="700"
                    decoding="async"
                />
            </picture>
            {% else %}
            <div
                class="absolute inset-0 -translate-x-full transform animate-shimmer bg-gradient-to-r from-stone-200 via-stone-300 to-stone-200"
            ></div>
            {% endif %}
        </div>
        <h3 class="font-raleway text-3xl font-bold">
            {{ props.card.title | safe }}
        </h3>
        {% if props.card.tags %}
        <p
            class="trabsition-all text-lg uppercase transition duration-300 group-hover:-translate-y-5 group-hover:opacity-0"
        >
            {% for tag in props.card.tags | reject("equalto", "work") |
            reject("equalto", "featured") %} {{ tag }} {% if not loop.last %},{%
            endif %} {% endfor %}
        </p>
        <a
            href="{{props.url}}"
            class="-mt-2 flex items-center gap-2 text-xl opacity-0 transition duration-300 group-hover:-translate-y-5 group-hover:opacity-100"
            aria-label="Read more about {{ props.card.title }}"
            >{{props.cta | default('View More')}}
            <span class="block h-[1px] w-10 bg-white"></span
        ></a>
        {% else %}
        <a
            href="{% if props.url %}{{ props.card.url }}{% else %}#{% endif %}"
            class="flex items-center gap-2 text-xl"
            aria-label="Read more about {{ props.card.title }}"
            >{{props.cta | default('View More')}}<span
                class="block h-[1px] w-10 bg-white"
            ></span
        ></a>
        {% endif %}
    </a>
</section>
{% endmacro %}
