{% macro verticalCarouselCard(props) %} {% set fullPath = props.card.data.image
%} {% set parts = fullPath | split('/') %} {% set fileWithExt = parts | last %}
{% set nameParts = fileWithExt | split('.') %} {% set imageName = nameParts[0]
%} {% set imageDir = fullPath | replace('/' ~ fileWithExt, '') %}

<div class="verticalCarousel--card rounded-[40px] shadow-md" style="z-index: 1">
    <picture>
        <img
            src="{{imageDir}}/{{imageName}}-xl.webp"
            class="h-full w-full rounded-[40px] object-cover"
            alt=""
        />
    </picture>
</div>
{% endmacro %}
