{% macro verticalCarouselCard(props) %}
<div
    class="verticalCarousel--card duratiom-500 absolute left-1/2 top-0 flex h-[90dvh] w-full translate-x-[-50%] translate-y-full transform rounded-lg opacity-0 shadow-md transition-transform ease-in"
    style="z-index: 1"
>
    Slide 1
</div>
{% endmacro %}
