{% from "components/VerticalCarousel/verticalCarouselCard.njk" import
verticalCarouselCard %} {% macro verticalCarousel(props) %}
<div class="verticalCarousel relative h-[400dvh]">
    <div class="sticky top-0 h-dvh w-full overflow-hidden">
        {{ verticalCarouselCard()}} {{ verticalCarouselCard()}} {{
        verticalCarouselCard()}} {{ verticalCarouselCard()}}
    </div>
</div>
{% endmacro %}
