{% set navPages = collections.all | eleventyNavigation %}

<nav class="relative mx-auto flex max-w-screen-lg items-center justify-between p-6 font-raleway" role="navigation"
    aria-label="Main Navigation" id="navbar">
    <div>
        <a href="/" class="text-2xl" aria-label="return to home page">{{ client.name }}</a>
    </div>

    <ul class="hidden gap-4 text-lg md:flex">
        {% for navPage in navPages %} {% if navPage.url == page.url %}
        <li>{% include './activeLink.html' %}</li>
        {% else %}
        <li>{% include './navbarLink.html' %}</li>
        {% endif %} {% endfor %}
    </ul>

    <div class="flex items-center gap-4">
        <!-- Theme toggle -->
        {% include './themeToggler.html' %} {% include './mobileMenuButton.html'
        %}
    </div>
    {% include './mobileMenu.html' %}
</nav>