{% from "components/Button/primaryButton.njk" import primaryButton %} {% from
"components/InfoGrid/infoGrid.njk" import infoGrid %}

<section class="mx-auto max-w-screen-lg p-6 pt-0">
    <h2 class="font-raleway text-4xl font-medium leading-normal md:text-6xl">
        I care about how things are built and how
        <span class="text-primary">people work together to build them.</span>
    </h2>
    <p class="my-8 max-w-lg text-2xl opacity-75">
        It's not just the output that matters, but the process and the people
        behind it.
    </p>
    {{ primaryButton() }}
    <div>{{ infoGrid({ data: workData }) }}</div>
</section>
