{% from "components/Button/primaryButton.njk" import primaryButton %}

<footer>
    <hr />
    <div class="mx-auto my-16 max-w-screen-lg p-6">
        <h2
            class="text-center font-raleway text-4xl font-medium leading-normal md:text-6xl"
        >
            Have an Idea?
        </h2>
        <div
            class="my-4 flex flex-col items-center justify-center gap-4 md:flex-row"
        >
            <h3
                class="text-center font-raleway text-4xl font-medium leading-normal opacity-75 md:text-6xl"
            >
                Let's Build It
            </h3>
            <div class="h-[1px] w-[200px] bg-neutral"></div>
            {{ primaryButton({url: '/contact'}) }}
        </div>
        <div class="mt-16 flex items-center justify-center gap-8">
            {% for item in socials %}
            <a
                class="group flex items-center gap-2 text-neutral transition-all duration-300 ease-in-out hover:text-primary"
                href="{{ item.url }}"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Follow me on {{ item.name }}"
            >
                <span class="">{{ item.icon | safe }}</span>
                <span class="hidden md:inline">{{ item.name }}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</footer>
