<section class="mx-auto max-w-screen-lg p-6">
    <div>
        <p class="text-lg opacity-75">Hello! I'm Stefan,</p>
        <h1
            class="py-4 font-raleway text-4xl font-medium leading-normal md:text-7xl"
        >
            I'm a full-stack developer focused on building
            <span class="text-primary">fast, user-first websites</span>
        </h1>
        <div class="flex flex-row-reverse items-center justify-between py-4">
            <p class="max-w-lg text-2xl opacity-75">
                <span class="px-10"></span>I focus on clean code, great user
                experience, and long-term scalability — blending design thinking
                with strong development practices.
            </p>

            {% include "components/Button/primaryButton.html" %}
        </div>
    </div>
</section>
