{% from "components/Button/secondaryButton.njk" import secondaryButton %} {%
from "components/VerticalCarousel/verticalCarousel.njk" import verticalCarousel
%}

<section class="mx-auto max-w-screen-lg p-6 pb-0">
    <div class="flex items-center justify-between">
        <h2 class="font-raleway text-4xl">Selected Works</h2>
        {{ secondaryButton({ url: '/work', text: 'See More' }) }}
    </div>
    {% if collections.work | length > 0 %} {{ verticalCarousel({ data:
    collections.work }) }} {% else %}
    <div class="flex h-[400dvh] items-center justify-center">
        <p class="font-raleway text-2xl">No projects found.</p>
    </div>
    {% endif %}
</section>
