{% from "components/Button/secondaryButton.njk" import secondaryButton %} {%
from "components/VerticalCarousel/verticalCarousel.njk" import verticalCarousel
%}

<section class="mx-auto max-w-screen-lg p-6 pb-0">
    <div class="flex items-center justify-center md:justify-between">
        <h2 class="font-raleway text-4xl">Selected Works</h2>

        <div class="hidden md:inline">
            {{ secondaryButton({ url: '/portfolio', text: 'See More' }) }}
        </div>
    </div>
    {% if collections.work | length > 0 %} {{ verticalCarousel({ data:
    collections.work }) }} {% else %}
    <div class="flex h-[400dvh] items-center justify-center">
        <p class="font-raleway text-2xl">No projects found.</p>
    </div>
    {% endif %}
    <div class="my-4 flex items-center justify-center md:hidden">
        {{ secondaryButton({ url: '/portfolio', text: 'See More' }) }}
    </div>
</section>
