{% extends "layouts/base.html" %} {% block head %} {% endblock %} {% block body
%}{% from "components/Button/primaryButton.njk" import primaryButton %}

<section
    class="mx-auto flex h-dvh max-w-screen-lg flex-col items-center justify-center p-6 text-center"
>
    <h1
        class="py-4 font-raleway text-4xl font-medium leading-normal md:text-7xl"
    >
        Well, this is awkward...
    </h1>
    <p class="mb-10 max-w-lg text-2xl opacity-75 md:text-left">
        Looks like this page took a wrong turn.
    </p>
    {{ primaryButton({url: '/', text: "Head back to safety"}) }}
</section>

{% endblock %}
