---
title: 'Home'
description: 'Full-Stack Developer & Web Designer'
permalink: '/'
eleventyNavigation:
    key: Home
    order: 0
---

{% extends "layouts/base.html" %} {% block head %}

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

{% endblock %} {% block body %} {% from "containers/curvedContainer.njk" import
curvedContainer %} {% include "containers/hero.njk" %} {% include
"containers/selectedProjects.html" %}{% include "containers/experience.njk" %}
{{ curvedContainer({ file: "containers/tools.njk", tools: tools }) }}{% include
"containers/education.njk" %} {% include "containers/testimonials.njk" %} {%
endblock %}