{% macro secondaryButton(props) %}
  <a href="{{ props.url | default('#') }}" class="min-w-[200px] border border-neutral text-center transition-all duration-500 ease-in-out rounded-full hover:border-primary hover:text-primary">
    <span class="leading-[3rem]">{{ props.text | default('Let\'s talk', true) }}</span>
  </a>
{% endmacro %}
